font-family: 'Roboto', sans-serif;

h1
{
	font-weight: 500;
	font-family: 'Roboto';
	font-size: 27px;
	letter-spacing: 0px;
}

h2
{
	font-weight: 400;
	font-family: 'Roboto';
	font-size: 25px;
	letter-spacing: 0px;
}

h3
{
	font-weight: 300;
	font-family: 'Roboto';
	font-size: 20px;
	letter-spacing: 0px;
}

h4
{
	font-weight: 400;
	font-size: 20px;
	font-family: 'Roboto';
	letter-spacing: 0px;
}

p
{
	font-weight: 100;
	font-family: 'Roboto';
	font-size: 18px;
	text-align: justify;
}

.container
{
	width: 100%;
	height: auto;
}

.navBar
{
	height: 90px;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
}

ul
{
	list-style: none;
}

li
{
	display: inline-block;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2%;
}

a
{
	text-decoration: none;
	color: black;
}

.logo
{
	height: 30px;
	width: 55px;
}

.navunderline
{
	width: 100%;
	height: 10px;
	background-image: linear-gradient(90deg, #FF5392, #752FC7);
	border: none;
	margin-top: -1%;
}

.heroImage
{
	max-width: 100%;
	margin-top: 5%;
}

.aboutLine
{
	width: 70%;
	height: 18px;
	border: none;
	background-color: #FF5392;
	margin-top: -37%;
}

.aboutSection
{
	width: 70%;
	height: 515px;
	margin: auto;
	margin-top: -35.6%;
	background-color: white;
	-webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	margin-bottom: 5%;
}

.leftSide
{
	float: left;
	width: 40%;
}

.rightSide
{
	float: right;
	width: 60%;
}

.portrait
{
	padding-top: 8%;
	padding-left: 10%;
	width: 100%;
	max-width: 330px;
}

.download
{
	width: 300px;
	height: 37px;
	background-color: #FF5392;
	border: none;
	border-radius: 5px;
	margin-left: 17%;
	margin-top: -2%;
}

.downloadLink
{
	color: white;
	padding-left: 28%;
}

.info
{
	float: right;
	margin-right: 6%;
	margin-top: 2.5%;
}


.portfolioLine
{
	width: 70%;
	height: 18px;
	border: none;
	background-color: #FF2877;
}

.portfolioSection
{
	width: 70%;
	height: 735px;
	margin: auto;
	margin-top: -2.7%;
	background-color: white;
	-webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	margin-bottom: 5%;
}

.pfRightSide
{
	float: left;
	padding-top: 3%;
	padding-left: 4%;
}

.pfLeftSide
{
	float: right;
	width: 47%;
	padding-right: 5%;
}

.project1
{
	margin-top: 5%;
}

.project2
{
	margin-top: 24.5%;
}

.project3
{
	margin-top: 17.5%;
}

.experienceLine
{
	width: 70%;
	height: 18px;
	border: none;
	background-color: #C71287;
}

.experienceSection
{
	width: 70%;
	height: 1130px;
	margin: auto;
	margin-top: -2.8%;
	background-color: white;
	-webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	margin-bottom: 5%;
}

.txt
{
	padding-left: 4%;
	padding-top: 2%;
	padding-right: 5%;
}

.contactLine
{
	width: 70%;
	height: 18px;
	border: none;
	background-color: #752FC7;
}

.contactSection
{
	width: 70%;
	height: 460px;
	margin: auto;
	margin-top: -2.8%;
	background-color: white;
	-webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.5);
	margin-bottom: 5%;
}

.section
{
	padding-top: 2%;
	text-align: center;
}

input[type=text]
{
	width: 450px;
}

textarea
{
	width: 450px;
	height: 150px;
	resize: none;
}

.footer
{
	bottom: 0;
	position: absolute;
}

.footerOne
{
	height: 100px;
	width: 100%;
	background-color: #C71287;
}

.footerNav
{ 
	color: white;
	width: 100%;
	text-align: center;
	padding-top: 1%;
}

.footerNav li a 
{
	color: white;
}

.footerTwo
{
	height: 65px;
	width: 100%;
	background-color: #752FC7;
}

.email
{
	color: white;
	text-align: center;
	padding-top: 1.5%;
}



/* Larger than mobile */
@media (min-width: 400px) 
{}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) 
{}

/* Larger than tablet */
@media (min-width: 750px) 
{}

/* Larger than desktop */
@media (min-width: 1000px) 
{
	.portfolioSection
	{
		margin-top: -3.5%;
	}
	
	.experienceSection
	{
		margin-top: -3.5%;
		height: 1340px;
	}
	
	.contactSection
	{
		margin-top: -3.5%;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) 
{
	.portfolioSection
	{
		margin-top: -2.9%;
	}
	
	.rightSide
	{
		padding-top: 0.5%;
	}
	
	.experienceSection
	{
		margin-top: -2.9%;
		height: 1210px;
	}
	
	.contactSection
	{
		margin-top: -2.9%;
	}
}